/* CSS ReferralsList */

.mainContainer { 
  min-height: 100vh;
}
.navbarContainer {
  margin-bottom: 10px;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.titleContainer {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.titleContainer h1 {
  padding: 20px;
}

.selectContainer {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.custom-form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #F9FAFD;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  -webkit-appearance: none;
  appearance: none;
}

.custom-form-select:hover {
  background-color: #f3f3f3;
}

.shadow {
  -webkit-box-shadow: 4px 4px 5px 2px #C9C9C9; 
  box-shadow: 4px 4px 5px 2px #C9C9C9;
}

.custom-btn-style {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color:    #78CFCE;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .75rem;
}

.custom-btn-style:hover{
  background-color:#6bbbba;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.table thead th {
  border-top: 0px;
}

.table tbody th {
  border-bottom: 0px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-shadow {
  display: flex;
}

.perPageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.bg-white {
  background-color: white;
}

.containerStyle h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbarStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.input {
  margin-right: 20px;
}

/* *********** */

.btnEnd {
  display: flex;
  justify-content: flex-end;
}

#badge {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 267px;
  height: 47px;
  left: 236px;
  top: 1424px;
  color: #000;
  text-align:center;
  background: #F3F2F1;
  border-radius: 15px;
}

/* CSS de Mathieu */ 

h1 {
  font-family: Poppins;
  color: #254383;
  font-style: bold;
  line-height: 20px;
  letter-spacing: -1.5%;
}

h2 {
  font-family: Poppins;
  color: #254383;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1.5%;
}

h3 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
}

h4 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
}

h5 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
}

h6 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  line-height: 36px;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}

label {
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;    
}

span {
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
}

.btn {
  font-family: Poppins;
  color: #7785A2;
}

.cardBackground {
  background-color:#ffffff;
  border-radius: 15px;
  border:1px solid #ced4da;
}

.cardInfoBg{
  background: #F3F2F1;
  border-radius: 15px;
  height: 95px;
}

.cardInfoIcons{
  color: #7785A2;
  text-align: center;
}

.cardIconsText{
  font-family: Poppins;
  font-style: normal;
  font-size: 13px;
  line-height: 11px;
  font-weight: 400;
}

/* Style des boutons sign up avec Linkedin et Facebook */

.btnEnd1{
  display: flex;
  justify-content: center;
}

#largeButton{
  border-radius: 50%;
  background: #254383;
  color:#ffffff;
}

.referralButton{
  background:    #78CFCE;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
}

.referralButton:hover {
  background-color:#6bbbba;
}

#referralButton:focus {
  outline:0;
}

#modifyButton{
  background:    #78CFCE;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 55px;
}

#modifyButton:hover {
  background-color:#6bbbba;
}

#modifyButton:focus {
  outline:0;
}

#enlargeButton{
  height: 40px;
  width: 47px;
  border-radius: 15px;
  background: #254383;
  color:         #ffffff;
}
#enlargeButton:hover {
  background-color:#6bbbba;
}

#enlargeButton:focus {
  outline:0;
}

.offerSubtitle{
  line-height: 18px;
  font-size: 15px;
  color: #7785A2;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Bacgroud root */
#root {
  background-image: url("./images/EnsembleDuSite.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
}
