
.section {
  background-color: #F3F2F1;
  font-family: 'Poppins', sans-serif;
 
}

h2{
font-family: Poppins;
color: #254383;
font-style: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -1.5%;
}

h3{
color: #254383;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
}
label{
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 36px;
    
}
h5{
color: #254383;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 1px;
line-height: 36px;
}
p{
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  }
span {
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
}

.btn {
  font-family: Poppins;
  color: #7785A2;
}

.cardBackground{
  background-color:#ffffff;
  border-radius: 15px;
  padding: 23px;
}

.cardInfoBg{
  background: #F3F2F1;
  border-radius: 15px;
  padding: 15px;
  height: 95px;
}



.cardInfoIcons{
  color: #7785A2;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  padding-right: 10px;

}
.btnEnd{
  display: flex;
  justify-content: flex-end;
}
.navbarContainer {
  /* border-bottom: solid 1px black; */
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9;
}
#largeButton{
  border-radius: 50%;
  background: #254383;
  color:         #ffffff;
}


#referralButton{
  background:    #2FD395;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 55px;
  width: 163px;

  }
  
  #referralButton:hover {
    filter: brightness(110%);
  }

  #referralButton:focus {
    outline:0;
}

#enlargeButton{
  height: 40px;
width: 47px;
border-radius: 15px;
background: #254383;
color:         #ffffff;
}
#enlargeButton:hover {
  filter: brightness(110%);
}

#enlargeButton:focus {
  outline:0;
}

.searchBar{
background-color: #F9FAFD;
height: 48px;
width: 245px;
left: 0px;
top: 4px;
border-radius: 15px;
border: none;
margin-right: 10px;
}
.searchBar::placeholder {
  text-align: center;
  font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}
.searchBar:hover {
  filter: brightness(110%);
}

.searchBar:focus {
  outline:0;
  padding: 5px;
  
}

.onclickButton{
    background-color: #F9FAFD;
    height: 48px;
    width: 150px;
    left: 0px;
    top: 4px;
    border-radius: 15px;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #254383;
    margin-right: 10px;
}
.onclickButton:hover {
  filter: brightness(110%);
}






#mediumButton {
height: 70px;
width: 163px;
border-radius: 15px;
background: #254383;
color:         #ffffff;
}
#badge{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 267px;
height: 47px;
left: 236px;
top: 1424px;
color: #000;
text-align:center;
background: #F3F2F1;
border-radius: 15px;
}