/* CSS ReferralsList */
.mainContainer {
  background-color: #F3F2F1;
  min-height: 100vh;
}
.navbarContainer {
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.titleContainer {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.titleContainer h1 {
  padding: 20px;
}

.selectContainer {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.custom-form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #F9FAFD;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9;
}

.custom-form-select:hover {
  filter: brightness(110%);
}

.custom-btn-style {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  /* margin: 10px; */
  background:    #78CFCE;
  /* background-color: #FFFFFF; */
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .75rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9;
}

.custom-btn-style:hover{
  filter: brightness(110%);
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9
}

.table thead th {
  border-top: 0px;
}
.table tbody th {
  border-bottom: 0px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-shadow {
  display: flex;
  -webkit-box-shadow: 4px 4px 10px 2px #C9C9C9; 
  box-shadow: 4px 4px 10px 2px #C9C9C9;
}

.perPageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.bg-white {
  background-color: white;
}

.containerStyle h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbarStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.input {
  margin-right: 20px;
}



/* *********** */

.btnEnd {
  display: flex;
  justify-content: flex-end;
}

#largeButton {
  border-radius: 15px;
  background: #254383;
  color:         #ffffff;
}

#mediumButton {
height: 70px;
width: 163px;
border-radius: 15px;
background: #254383;
color:         #ffffff;
}

#badge {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 267px;
  height: 47px;
  left: 236px;
  top: 1424px;
  color: #000;
  text-align:center;
  background: #F3F2F1;
  border-radius: 15px;
}

/* CSS de Mathieu */ 
.section {
  background-color: #F3F2F1;
  font-family: 'Poppins', sans-serif;
 
}

h1 {
  font-family: Poppins;
  color: #254383;
  font-style: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1.5%;
}

h2 {
  font-family: Poppins;
  color: #254383;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1.5%;
}

h3 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
h4 {
  color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
}
label {
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;    
}

h5 {
  color: #254383;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1px;
  line-height: 36px;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}
span {
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
}

.btn {
  font-family: Poppins;
  color: #7785A2;
}

.cardBackground {
  background-color:#ffffff;
  border-radius: 15px;
  padding: 10px;
}

.cardInfoBg{
  background: #F3F2F1;
  border-radius: 15px;
  height: 95px;
}

.cardInfoIcons{
  color: #7785A2;
  text-align: center;
}

.cardIconsText{
  font-family: Poppins;
  font-style: normal;
  font-size: 13px;
  line-height: 11px;
  font-weight: 400;

}
.btnEnd{
  display: flex;
  justify-content: flex-end;
  color: #569df4;
}

/* Style des boutons sign up avec Linkedin et Facebook */

.btnEnd1{
  display: flex;
  justify-content: center;
}

#largeButton{
  border-radius: 50%;
  background: #254383;
  color:         #ffffff;
}

.referralButton{
  background:    #78CFCE;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 55px;
  padding: 15px;
  margin: 15px,

}

.referralButton:hover {
  filter: brightness(110%);
}

#referralButton:focus {
  outline:0;
}

#modifyButton{
  background:    #78CFCE;
  border-radius: 15px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 55px;

}

#modifyButton:hover {
  filter: brightness(110%);
}

#modifyButton:focus {
  outline:0;
}

#enlargeButton{
  height: 40px;
width: 47px;
border-radius: 15px;
background: #254383;
color:         #ffffff;
}
#enlargeButton:hover {
  filter: brightness(110%);
}

#enlargeButton:focus {
  outline:0;
}

.searchBar{
background-color: #F9FAFD;
height: 48px;
width: 245px;
border-radius: 15px;
border: none;
margin-right: 10px;
}
.searchBar::placeholder {
  text-align: center;
  font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}
.searchBar:hover {
  filter: brightness(110%);
}

.searchBar:focus {
  outline:0;
  padding: 5px;
  
}

.onclickButton{
    background-color: #F9FAFD;
    height: 48px;
    width: 150px;
    left: 0px;
    top: 4px;
    border-radius: 15px;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #254383;
    margin-right: 10px;
}
.onclickButton:hover {
  filter: brightness(110%);
}

.deleteIcon{
 color: #254383;
}

.deleteIcon:hover {
  filter: brightness(110%);
}
